* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #FAFAFA;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

header {
	height: 70px;
	background-color: #EC715F;
}

.header-box {
	width: 1024px;
	margin: 0 auto;
}

.logo-image{
	height: 70px;
	float: left;
}

.nav-list {
	float: right;
}

.nav-list-item {
	font-size: 16px;
	color: #FAFAFA;
	list-style: none;
	display: inline;
	margin: 0 30px;
	line-height: 70px;
}

#main-visual {
	height: 650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: bottom;
}

.main-box {
	padding-top: 200px;
}

.main-title {
	text-align: center;
	font-size: 64px;
	color: #FAFAFA;
}

.main-text {
	text-align: center;
	font-size: 20px;
	color: #FAFAFA;
	margin-top: 10px;
}